<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 配置bean-->
    <bean id="arithmeticCalculartor" class="logging_xml.ArithmeticCalculartorImpl"></bean>

    <bean id="loggingAspect" class="logging_xml.LoggingAspect"></bean>

    <!-- 配置aop-->
    <aop:config>
        <!--配置切点表达式 -->
        <aop:pointcut id="pointcut" expression="execution(* logging_xml.ArithmeticCalculartor.*(int,int))" ></aop:pointcut>
        <!--配置切面及通知 -->
        <aop:aspect ref="loggingAspect">
            <aop:before method="beforeMethod" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
</beans>